# python
.ipynb_checkpoints/
__pycache__

# datasets
\outdoor

# results
\model_output
\model_params
\figures

# other
.DS_Store

# ipython notebooks
NN-2class.ipynb
baseline-2class.ipynb
baseline-6class.ipynb
